.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}
th {
  text-align: left;
}

.input {
  font-family: Courier;
  letter-spacing: 100px;
  margin-top: 10%;
  text-align: center;
  /*font-weight: bold;*/
}

form {
  text-align: center;
}

.result {
  font-family: Courier;
  margin-top: 10%;
  text-align: center;
  font-size: 10em;
  font-weight: bold;
}
