<div>
<style>
p {font-size: <%= @font_size %>em }
</style>


<p> <%=@list%> </p>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<form action='/users/:u_id/tests/vision' method='post'>
  <input type='text' name='answer'>
  <input type="hidden" name='fiveletters' value = <%=@list%>>
  <input type='submit' value = 'Submit'>
</form>




