
<% if @level == 2080 %>
<div class ='twentytwenty'>
<%=@list%>
</div>


// <script type="text/javascript">

// var ask_for_input = prompt("type in what you see without punctuation");
// // if(ask_for_input === "azuel"){
// //   window.location="/2060";
// // }
// // else window.location="/result";

// </script>

<%end%>


<% if @level == 2060 %>
<div>
<%=@list%>
</div>

<script type="text/javascript">
var ask_for_input = prompt("type in what you see without punctuation")
</script>

<%end%>
