<% if session[:goagain] == 'on' %>

    <% session[:goagain] = 'off' %>
    <head>
      <meta http-equiv="refresh" content="3;url=/users/:u_id/tests/vision/single" />
    </head>
<% end %>


<div class = 'result'>
  <p>Your Vision:<p>
  <%=@result%>
  <br>
  <% if session[:goagain] == 'off' || session[:goagain] == nil%>
    <a href="/users/<%=session[:id]%>/tests/vision/both"><button style="border: 1px solid black">Retest</button></a>
    <a href="/users/<%=session[:id]%>/reset"><button style="color:red; border: 1px solid black">Home</button></a>
  <% end %>
</div>


