


<div class = 'result'>
<p>Your Vision:<p>
<%=@result%>
<br>
<a href="/users/<%=session[:id]%>/tests/vision/both"><button style="border: 1px solid black">Retest</button></a>
<a href="/users/<%=session[:id]%>/reset"><button style="color:red; border: 1px solid black">Home</button></a>
</div>
