<div class='container'>
  <h1>Pick a Test</h1>

  <a href="/users/<%= session[:id]%>/tests/vision"><button>Vision Check<p> - check your visual acuity</p></button></a>

  <a href="/users/<%= session[:id]%>/tests/colorblindness"><button>Color Blindness <p> - test for color blindness</p></button></a>


</div>
